/* .img {
    width: 200px;
    height: 200px;
} */
.img {
    width: 150px;
    height: 150px;
}

.card {
    display: inline;
    margin: 15px;
    /* border: solid rgb(8, 15, 26) 3px; */
    /* background-color: aquamarine */
}